html {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: rgb(206, 189, 161);
    padding: 10px 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
 a {
    text-decoration: none;
    color: rgb(206, 189, 161);
 }

 section {
    display: flex;
    width: 100%;
 }
 #profile-pic {
    width: 400px;
    height: 400px;
 }

 #First-App {
    width: 325px;
    height: 150px;
    display: inline-flex;
    justify-content: center;
    margin-left: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 5px;
 }

 .left {
    width: 15vw;
    text-align: center;
 }

.right {
    width: 80vw;
 }

 .right ul {
    display: flex;
    justify-content: space-evenly;
 }

 .right ul li {
    list-style-type: none;
 }


